name: Terraform Plan

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: write

env:
  AWS_REGION: eu-west-1
  TF_WORKING_DIR: ./terraform
  TF_VAR_SOURCE_AUTH_PASSWORD: ${{ secrets.SOURCE_AUTH_PASSWORD }}

jobs:
  terraform-plan:
    name: Terraform Plan & Security Scan
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::913513914993:role/OIDC_ROLE
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Run Checkov Security Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ${{ env.TF_WORKING_DIR }}
          output_format: cli

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ${{ env.TF_WORKING_DIR }}/tfplan

      - name: Upload Terraform Lock File
        uses: actions/upload-artifact@v4
        with:
          name: tf-lockfile
          path: ${{ env.TF_WORKING_DIR }}/.terraform.lock.hcl
          include-hidden-files: true
